.Dis{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    background-color: black;
}
.Dis h1{
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 1%;
}
.Dis h1 span{
    font-weight: lighter;
}
.Nav{
    /* border: 1px solid black; */
    height: 100px;
    width: 95%;
    margin: auto;
    display: flex;
}
.Nav h1{
    font-size: 30px;
    font-weight: 500;
    color: #191a1b;

   
    
}
.Nord{
        margin-top: 2%;
        text-decoration: none;
        font-family: "Brandon Text", Arial, sans-serif;
}
.Search{
    border: 1px solid gray;
    height: 50px;
    width: 40%;
    margin-top: 23px;
    margin-left: 50px;
}
hr{
    width: 95%;
    margin: auto;
}
.Nav  h4{
    margin-top: 35px;
    font-weight: lighter;
    margin-left: 100px;
   

}
.link{
text-decoration: none;
color:#191a1b;
}


